@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Lora:ital,wght@0,400..700;1,400..700&family=Oxygen:wght@300;400;700&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand a {
    font-family: "Jersey 25", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    text-decoration: none;
}
/* media queries */
@media (min-width: 578px) {
    .navbar .collapse,
    .navbar .navbar-toggler{
        display: none !important;
    }
}